{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">Sumit has written {{ posts.count }} blog{{ posts.count|pluralize }}</h3>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{message.tags}}"> {{message}}</div>
  {% endfor %}
{% endif %}
{% for post in posts %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:blog-details' post.id %}">
      <h2>{{ post.title }}</h2>
    </a>
<!--    <h5 class="text-muted">{{ post.date|date:'M d Y'|upper }}</h5>-->
    <h4>{{ post.description|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}

<!--truncatechars used for limitng the word count on home page article and striptags used for hiding '<b>' and other tags from literally showing up in article.-->
